files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFIzCCAwugAwIBAgIUWfO71oQBwn3NIjpDTd/gesrmRVwwDQYJKoZIhvcNAQEL
      BQAwITEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0yNDAzMTIx
      MDE0NDJaFw0yNTAzMTIxMDE0NDJaMCExHzAdBgNVBAMMFiouZWxhc3RpY2JlYW5z
      dGFsay5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDTjmF2ssaN
      KlLUd8ajxdws08DDDOWM9R83jFdKmU54Se9TNveSPCUQ0hnhBkoRD67nORDZeXjf
      fl413y40N4PnUn24qKbvfJ69L8wnLJ9O/22AOrwjlIiGOfOhrWgLYn/c0xe6s/q1
      8Ogm3bMEeqBVdellISWRu7EBFa5UjIf6HmeBHMs9jq5MRND2vFRuK3/qAXfj36Qc
      8yWGdUFn1USbHUlFXV1jX6oS9sjB2YxCaOnPkBYYPpz5X2iweMSj6Db6bNazmytp
      rbaC6uOrt31g1UM5gNza8q2ME7AeYeQHRgFJliCVAJUPXhJGf6mZox/ZI+kBu7tC
      8Tm+ioCXKOFagadc/pird9knU9sXFY3/Jal8JuoAG4l2gMbQmq8yohoHb+SBNWx0
      vrX6mEcIEPYlREj+3D5+sOLEDMCmq3sdYvl0G4pqhy36z8os95pKM1jMHnxFHTs7
      Y33azGXd6i44tvRSc0KSB92DF/oeLOPOqBxk1pPgupVAvO2Nk7sUiNDuZMJolUaK
      2zigUzki4Fh7ULa4hQDUxEDHqegoJSEyN2KlfUjbnq0vMFdyMUp0zJyPnHqGl7+S
      rAquy8/6jD0kRhqjGk8orrPnUCuP2wX5Hr/qfulVss8NROGcsqRfRmnNRXPDthpG
      zYVoVykaGOtI6jApdoUy9qj2wY+cs0BgKwIDAQABo1MwUTAdBgNVHQ4EFgQUIe1H
      xm8U8VqxJGxN3skpOy9SBFUwHwYDVR0jBBgwFoAUIe1Hxm8U8VqxJGxN3skpOy9S
      BFUwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAajo4m6t1Iukp
      m7T4pzVhO5stNUqG0kJDb8kmrfsuoNDXRmWskeiHY0gihzKycZ21KsihtYCji/K4
      mypBEpPWPlW6h9OJfin9MQ1v5uGtv+GynREKKwVOjK7J+ej28Fbb+Q2eI9EyKHKM
      tfBG6dMkEo7PB/pExzP/iFeL+a3ktLHaLbQeUS1zD88jTiXXsa8ZXIVJevOxmJXd
      LRUE/+tqTtN5XPDbHCzT632cG41qAdpxa4pl0Op3ep8iB3hD/OIp8EsuD7h/4Ti+
      4uKeWttZhqTNDJ0NiYdBUl+Z1tGiUI5d6IRDXVTcpgC/RL3+AvO82PK7z5SSPk9y
      RvE38NJphwtuPT2rPf0G4TRcLXyzMysC1F9o8kzKlitvTWSO+5zAq0Q5LAx5iGFZ
      CI7Pbz8C5Yu8CCb4xBXnBwIZwxc32zPgCh7pjfeS58s55LaB+9KuOv2MZXxFVZOa
      9gko+zHxjPfCKQHkoVnC6xeKw8xr/GrzivbW9KA2K5jjYKx6I+Cx6cGuwhJuiSZq
      QqOWoP/UMJRMCAOdfVTKTOceo+aL2a4CYwK3OWcW2Ztv6BoQSKp+CFWbFPLNed41
      Wy81OxsVV3qw3qQ/vUfcTBHNIzgtkmP2SP0RhicYUeADr+JY1XUKgY5hO+ajKHC/
      egowFqfk/pX0qF+hkLSB2mapa5uio6o=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQDTjmF2ssaNKlLU
      d8ajxdws08DDDOWM9R83jFdKmU54Se9TNveSPCUQ0hnhBkoRD67nORDZeXjffl41
      3y40N4PnUn24qKbvfJ69L8wnLJ9O/22AOrwjlIiGOfOhrWgLYn/c0xe6s/q18Ogm
      3bMEeqBVdellISWRu7EBFa5UjIf6HmeBHMs9jq5MRND2vFRuK3/qAXfj36Qc8yWG
      dUFn1USbHUlFXV1jX6oS9sjB2YxCaOnPkBYYPpz5X2iweMSj6Db6bNazmytprbaC
      6uOrt31g1UM5gNza8q2ME7AeYeQHRgFJliCVAJUPXhJGf6mZox/ZI+kBu7tC8Tm+
      ioCXKOFagadc/pird9knU9sXFY3/Jal8JuoAG4l2gMbQmq8yohoHb+SBNWx0vrX6
      mEcIEPYlREj+3D5+sOLEDMCmq3sdYvl0G4pqhy36z8os95pKM1jMHnxFHTs7Y33a
      zGXd6i44tvRSc0KSB92DF/oeLOPOqBxk1pPgupVAvO2Nk7sUiNDuZMJolUaK2zig
      Uzki4Fh7ULa4hQDUxEDHqegoJSEyN2KlfUjbnq0vMFdyMUp0zJyPnHqGl7+SrAqu
      y8/6jD0kRhqjGk8orrPnUCuP2wX5Hr/qfulVss8NROGcsqRfRmnNRXPDthpGzYVo
      VykaGOtI6jApdoUy9qj2wY+cs0BgKwIDAQABAoICAF2kAacJFdKpP7WU+MNIEp9y
      8TlEzZyZaUJsp7y45B9hVoIma+n6Hkv2O4c7gfBQWVI2k6s3VdXTOP8udOSfCA8N
      l+FzIUUTC65g6EQUv8U3UXA3T0yOc+m54AmZ2FpltIP5meDFxnzfD9sYOaOLZcm+
      IdtmExuRERWSU7JP6+Y9rAHdzWZHcAYJVddI4DRNo9Zf5QHj3WAFDgCYiSVdJHtm
      OKbv3yTb1MuFGbKYSTmh95AszmLX4CKPZSbrpdqJMECjiVtBnTMvNYB4WOMKmoAQ
      latvyxJM5Z2Bn2yrVsQTbAF25qAdfF0rffpfiqIbLr8t4namcop8fNtGsgl2ilx3
      yYXxpanOx/fEczKC3ZZmUpqcY2uPMVlHhbXfwawGbpbTOhJTlHRzXsx7PqBBkLB5
      toBJmZzyW3kTKBJjLQA6mciQ+6Np1yLgRjNfq+/bb28YjdHGBAvYIDSj7eQk5Ulc
      FI4T9cCAWb5z1adWFGFs2ralFtO3m/gXi+KPgE1VxioDk5Qh3RJ91RLERTYL+8fs
      c8QYDb4jsendBYWc9w+J+XphO0FdUxQsS33oe8KkBTv7MhpwBbv+MBxzA+d8zF8N
      za30ZVdkmW/U5YxO/+zPuTGqZ0tB6Ogxne0GMpYa4PwrpDh+8py+Orl63y8aQ3b3
      SWdHxDm1xDVwd4JO0UQVAoIBAQDsKRMAnlu9uYbBSuro7TYC4xQzXdDzqySlKAhR
      KNUGi10Hm30ls4ltr4+enH91FY/J1VWSdW82+0iZetz0eKMO4ZrNm5Fycp41BHXH
      CK3Cg/xCjsnVJSKcvib5QHJTaFKBMQ7UhlEaBU/MC/lP82CjZIAAwIgg9Tl1LLiL
      nrJ7GjfabWTzy74hDM0hq7x8HJ25Ru1pxIyN34EpATjvgFujXasMaRoMTqr1zNQl
      TiKiQfxreqj+VOb9uwa5IMfM5mWtR5sKMJ4PzY0KkISUrefvLM8yXOMIitvuMFt/
      7Nkxnz7yOOjW2AF4QkMNb8kGwvBjfXPCJYeavhTekL8iTpcdAoIBAQDlVCkt40Pt
      suX9nXoBf9pVB2leKqM1OLJjCjpHrzfv7Xzt6g3SDh/Sh5zd9Gc9aRoUR9PXay8h
      uJvdBXLrOCggi9WXVmkGluG2fI83z7ZdhQZcxf3AeD/p6V8qVj5yUU0VjoHD/Lh4
      vBBIYJOFpjGeOTurqzYyRz9GV2mEiScP64PP6FY9+v0QBk37SIAZ+RZvi8gN9a9O
      fmthHY45DQPXYEhzuk1PfUxSy6fkLdG8to7T+7U3CLjJZgkYCt0M67CTsMeGa5On
      UyS25ctdHEZnWBurNvnzVyA3ymVW/bcS0WvfBxYYXnBEoKCE+TbdlQKqX9IEofMi
      AjI6Ws1KPgnnAoIBAF9jK8i5LecRE8vpHb8daQ57eAJTZ320Z+XJqKpXasvs6JOV
      C1R6Ew1ZtxHitlyta9mjMKAqjNRRZP6RMMQSIhJ1r5hSuMnYX+ycM5JEACMsOm0L
      zZwpFrTm3UkZ7dOgtIp4LTxMUF/JO3T4dSgE7siwZD9phNKDGkUo3hWO8Rpl+Z9h
      RkBu0An7aLOr8ULUMCTQ8D4jZH49g6bzVnLujpUK1Xb60Mmd0NHdfObgi36sVm93
      KOEpm+9qZonKIsmxWepGnOndv0o0xT46J0MCh0cE+1+lQxKFO9YWdC7UlNnFL6CY
      uftlXhqb8QdxWmo/vOcCmgoWLJKlKjrHjlwmEEUCggEBAKiDIEM81WRr6b5jogxK
      A4gpiw6L7COmhsZp9ItKQKNH8l3sd71bbZzI08bw2Y/xlB1E7nBDrX1s5vMRFvGq
      8SmBNzEeaMxTwIXUn3SWZ93uas9vGVf9xJFAUBKPDxH3ldn6PnZiVLc7EgftF1nE
      1n76dVNe2tM1MVSh1MJz+cUj/Vaf1gdzT9Mfntu/2Ym8U/UhVJ6VYv0dvg+9pQ1c
      9+6iLHsFcduwKY5JYhQ0awLtbqRsOCu5d/ddx97n1Kiy46yS4PpwQC5a1Qakcrv3
      k/BKeQJlwmNCKUV1ruOuSYFFa6uVzHGZq4tyMKGlcuB9p1jEUlHfIwZhcMEaifE9
      Bw8CggEBAIsNU+CjmzXl8nBCtGoKia0lTadsCddZZo4ttxfR3o6/A2NyIVuf0MyE
      6KpWPv7GnjszmHOjqdrhFU03dKQVMr6zL8TZgEgR1MPhm8MwEPAECl4UdCkC973+
      k5iuPrwBwgoHyeIBDhP1d/LgfuulkFJCgdKeokIWievOB2D1CO3n9Q+DER2bdIhi
      gSKwURCWaYjDdmXA9Yn93w//5Hj7+B0wirdtDBXRZmAxBPyvixVF2Z/kqtkg3CfA
      5zXPC6NjWyydcWos3xUfGPuBb6TYELcvkr5mmfpXfGb6eNivrGxXAPEU1dFS2aWX
      NzF44bv6gqHQ1AWlU1VWJYaX54LIBgM=
      -----END RSA PRIVATE KEY-----