files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEBzCCAu+gAwIBAgIUEyJk5gzY8hGIWLISghxLjyZKUyIwDQYJKoZIhvcNAQEL
      BQAwgasxCzAJBgNVBAYTAlVTMRQwEgYDVQQIDAtQdWVydG8gUmljbzERMA8GA1UE
      BwwIU2FuIEp1YW4xFDASBgNVBAoMC0RpZWdvIFBlcmV6MRQwEgYDVQQLDAtEZXZl
      bG9wbWVudDEfMB0GA1UEAwwWKi5lbGFzdGljYmVhbnN0YWxrLmNvbTEmMCQGCSqG
      SIb3DQEJARYXZGllZ29kZXZlbG9wc0BnbWFpbC5jb20wHhcNMjQwMzEyMTIzMTIw
      WhcNMjUwMzEyMTIzMTIwWjCBqzELMAkGA1UEBhMCVVMxFDASBgNVBAgMC1B1ZXJ0
      byBSaWNvMREwDwYDVQQHDAhTYW4gSnVhbjEUMBIGA1UECgwLRGllZ28gUGVyZXox
      FDASBgNVBAsMC0RldmVsb3BtZW50MR8wHQYDVQQDDBYqLmVsYXN0aWNiZWFuc3Rh
      bGsuY29tMSYwJAYJKoZIhvcNAQkBFhdkaWVnb2RldmVsb3BzQGdtYWlsLmNvbTCC
      ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAL58oKrthn4whGOehAm5aiDg
      xBpqeqt4HSOLbqD6iF/qZclll9H6KRW9oliSxgekwzk7xyRuni64chS/J9kun8lI
      ErY1Em/c5DbIQE6lLRVGDhen2p4HEJzaICuaZlgi6QTJdo33BvhyXw1r7P3DHhD7
      MW2kaaIBk/x1hg9g5VEdoyTBkJDZ4amEcrrnIYmDkznsgUPB8grsHsp4jYXECRzy
      eoZM5VuD/5QFA6VGg3r/u4YM0WfIAuxzN+NwNo1uuqLainOmk/rtcYMH3Ky2uAbr
      cbNuLLc21sJ1OoXKccCYZiHyp5UiHA/nEeI9src4lXavCL+WCByPte5KJIdxXI0C
      AwEAAaMhMB8wHQYDVR0OBBYEFD7S2OQeGHdllk+/quHCrHBxf9SUMA0GCSqGSIb3
      DQEBCwUAA4IBAQBDe65xC0FKZqv5FbYXrQqIHMc1DhujILcaXY3qszpJTJofr50k
      +cAQVchZ9xHalMfaKGwdwBcXUgHbtUV/QNh68PPJmurlKzdlQ4/sG7aCUIaz3+OZ
      vfZD5fps+/TQhlEAQ7UzmMyBqg4V8/332n2SZH909pqcYv1ks0lwfVOf8XLxGgR3
      VptnP3RxC9cWXbZ+4zsN9QGwXsDwcXCopxRb77FhZCDrCEji/RCP6E22Fdmkliat
      7tVy4aEww8MtgTX2mBwriPmbsZJK53BUxQP/r4W/LDEEcDdZUpeIjMiU09oCWGqm
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC+fKCq7YZ+MIRj
      noQJuWog4MQaanqreB0ji26g+ohf6mXJZZfR+ikVvaJYksYHpMM5O8ckbp4uuHIU
      vyfZLp/JSBK2NRJv3OQ2yEBOpS0VRg4Xp9qeBxCc2iArmmZYIukEyXaN9wb4cl8N
      a+z9wx4Q+zFtpGmiAZP8dYYPYOVRHaMkwZCQ2eGphHK65yGJg5M57IFDwfIK7B7K
      eI2FxAkc8nqGTOVbg/+UBQOlRoN6/7uGDNFnyALsczfjcDaNbrqi2opzppP67XGD
      B9ystrgG63Gzbiy3NtbCdTqFynHAmGYh8qeVIhwP5xHiPbK3OJV2rwi/lggcj7Xu
      SiSHcVyNAgMBAAECggEAW6BPGGkQnHpx9Ak3sgXCCvaS3bICN6CbQ5G6MSzRlHGH
      bIy1rocKZC7HfJt9LggO7+TVMa0T4Z1PIrOgU1OeAI/ukD6PE8fI7qD8bdf+C5Gb
      Db3r5r+3OfuiJdcrC5IfS/IsWLVOYQuCtU4IvTexqrFpYTgIp6jiqjlNtvAA3jby
      5QzZG6rb0zKcmw5Wz2Vo28K1qloutkCpoNIOgtseEFJvr66sTgNV5zXeMDfJ/G2i
      lm9Xou2jl3v+nycWsGkNjuf0Ybkqa9TvuM6AfBWpOOOXNy5p/OqgewS4oXSuFBIW
      ronajsHo4n5Y8eo1ki+6IeLX7eSvaVZcIgN2T60FcQKBgQDdAe2OVeDMwxcClOfv
      4VDVmx/FoB+8w2Po0wvJqWTILl7wMwXR9U191x/65aElukF1cxXRw8scaGlaU+Mn
      usro9yo3CCmPAPnA4L19JAhmKMLp1sDrsyMhlkJd40hRdyf4GiJwTx7xk/tt7513
      eTyw3bO0CaaL3uIjFlzhiKHWVwKBgQDcpZuJEFr1Jbep7CciFV9WiqnmP55/E+ON
      84/aM6x1begHbu8k1lC4rcJlTwsNnXg3Keou8zyMCn1kHO+6FAfZ6/Xxb9xr4ADI
      yYttMDY4BeDv2cXE74KYDeoihVw41ot3SHunPPIdfM3CrLqcp+7+moAj0UgGHZpM
      lEzTGQetuwKBgQDL5mt1VmYAhD1GdHtIJWieqm+1tPWTAfG7bHsDovUIez+7/Fby
      To8f+snWgOUcGasq4PLQhQNvQiVw4NRCY2Oxa9fWzgEJnqzN9orcWdIl7pVliGyV
      CMDwy+CPHpIqFvUZQYNkeprh5tWhp+BvybrksqaJBB5UDV41YPxwV854IQKBgQDT
      JH7UCJyh3rgEmQFRslYLQKIYvWR0gpnM6vgLfEtaDBRvmI6sF5IjR9OwkpUnMDsr
      vqZky0pzUE5xkOcuj6B7vzsZEUxCxpa5jXQoxmv77FQ18ZU5QWEdFKOq6Sc5FMVd
      HjWF8eJWqWlVE2l4I5OmfD6HB+v+PjG7emaR02/vpQKBgFZvZZXXWRe3VNJwaWUi
      wttWsxQ22v+VihV2Ib1/dS5JhQowsUP8/VFRD0h1iGcq58rVANmBlMZ2VbwVpzyq
      aiEgsDQBpVL9IzmKTh9XXRmz32qmQ2uszEKkkV9zJuDIL49bJ83lj9VsQmZdhlbv
      7Lfuj25VeAofHbRio5h0euOg
      -----END RSA PRIVATE KEY-----